<div class="fondo">
    <div class="contenedor">
        <div class="div-img hidden" >
            <img class="img" src="../../assets/logoDefinitivo3.png">
        </div>
        <h1 align="center">Recupera tu contraseña</h1>
        <h4 align="center">Te enviaremos al correo la información de recuperación</h4>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="pepito@cojonesgordos.com">
            </mat-form-field>
        </form>
        <div class="container2">
            <div class="iniciar">
                <button mat-raised-button color="primary">Recuperar</button>
            </div>
        </div>
    </div>
</div>
