.barrainferior{
    position: sticky;
    bottom: 0;
}
  
.play-pause{
    margin-left: auto;
    margin-right: 0;
}
  
.cancionActual{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

mat-slider {
    width: 150px;
}