<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Hola {{getNombreUsuario()}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/inicio" (click)="actualizarRuta('/inicio')"><mat-icon aria-hidden="false">home</mat-icon>Inicio</a>
      <a mat-list-item routerLink="/favoritos" (click)="actualizarRuta('/favoritos')"><mat-icon aria-hidden="false" >favorites</mat-icon>Favoritos</a>
      <a mat-list-item routerLink="/playlists" (click)="actualizarRuta('/playlists')"><mat-icon aria-hidden="false">list</mat-icon>Playlists</a>
      <a mat-list-item routerLink="/buscar" (click)="actualizarRuta('/buscar')"><mat-icon aria-hidden="false">search</mat-icon>Buscar</a>
      <a mat-list-item routerLink="/cuenta" (click)="actualizarRuta('/cuenta')"><mat-icon aria-hidden="false">person</mat-icon>Cuenta</a>
      <div class="subir_cancion">
        <a mat-list-item routerLink="/amigos" (click)="actualizarRuta('/amigos')"><mat-icon aria-hidden="false">people</mat-icon>Mis amigos</a>
        <a mat-list-item routerLink="/subirArchivo" (click)="actualizarRuta('/subirArchivo')"><mat-icon aria-hidden="false">cloud_upload</mat-icon>Subir archivo</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <div class="div-img hidden" >
          <img class="img" src="../../assets/logoDefinitivo3.png">
        </div>
      </div>
    </mat-toolbar>
    <app-inicio *ngIf="href=='/inicio'" (cancionActual)="selector1.actualizarCancionActual($event)" (URL)="selector2.playURL($event)"></app-inicio>
    <app-favoritos *ngIf="href=='/favoritos'" (cancionActual)="selector1.actualizarCancionActual($event)" (URL)="selector2.playURL($event)"></app-favoritos>
    <app-playlists-menu *ngIf="href=='/playlists'"></app-playlists-menu>
    <app-buscar *ngIf="href=='/buscar'" (cancionActual)="selector1.actualizarCancionActual($event)" (URL)="selector2.playURL($event)"></app-buscar>
    <app-cuenta *ngIf="href=='/cuenta'"></app-cuenta>
    <app-amigos *ngIf="href=='/amigos'"></app-amigos>
    <app-upload *ngIf="href=='/subirArchivo'" (cancion)="selector1.actualizarCancionActual($event)" (URL)="selector2.playURL($event)"></app-upload>
    <app-barra-inferior #selector1 (volumenBarra)="selector2.modificarVolumen($event)" (cancionEnReproduccion)="selector2.pauseplay($event)"></app-barra-inferior>
    <app-reproductor #selector2></app-reproductor>
  </mat-sidenav-content>
</mat-sidenav-container>