<div class="fondo">
    <div class="contenedor">
        <div class="div-img hidden" >
            <img class="img" src="../../assets/logoDefinitivo3.png">
        </div>
        <h1 align="center">Inicia sesión o <a routerLink="/registro">Regístrate</a></h1>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput [(ngModel)]="correo" placeholder="email@example.com" name="correo">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="password" placeholder="Introduzca su contraseña" name="password">
            </mat-form-field>
            <div class="container2">
                <div class="iniciar">
                    <button mat-raised-button color="primary" (click)=loginUsuario()>Identificarse</button>
                </div>
            </div>
        </form>
        <a routerLink="/recuperacion">¿Ha olvidado la contraseña?</a>
        {{usuario.nombre}}
    </div>
</div>
