<mat-card>
    <mat-card-title>Canciones</mat-card-title>
    <mat-card-subtitle>Lista de canciones reproducidas recientemente</mat-card-subtitle>
    <div class="cancion">
      <mat-list>
        <mat-action-list *ngFor="let nombre of canciones; let indice=index">
          <button *ngIf="favoritos[indice]" mat-icon-button color="warn" (click)="actualizarFavorito(indice)">
            <mat-icon>favorite</mat-icon>
          </button>
          <button *ngIf="!favoritos[indice]" mat-icon-button color="black" (click)="actualizarFavorito(indice)">
            <mat-icon>favorite</mat-icon>
          </button>
          <div class="favorito">
            <button mat-list-item (click)="play(nombre)">
              {{nombre}}
            </button>
          </div>
        </mat-action-list>
      </mat-list>
    </div>
</mat-card>