<div class="fondo">
  <div class="contenedor">
      <div class="div-img hidden" >
          <img class="img" src="../../assets/logoDefinitivo3.png">
      </div>
      <h1 align="center">Regístrate gratis</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="mail@example.com"  #email type="text" class="form-control">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder=""  #nombre type="text" class="form-control">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder=""  #apellidos type="text" class="form-control">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder=""  #user type="text" class="form-control">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="" type="password" #password class="form-control">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Repetir contraseña</mat-label>
            <input matInput placeholder="" type="password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>País</mat-label>
            <input matInput placeholder="" type="text" #pais class="form-control">
        </mat-form-field>
      </form>
      <div class="container2">
          <div class="iniciar">
              <button mat-raised-button color="primary" (click)=Registro(nombre,apellidos,email,user,password,pais)>Registrarse</button>
          </div>
      </div>
      <a routerLink="/registroVip">¿Eres un creador o sello discográfico?</a>
  </div>
</div>
