<div class="fondo">
    <div class="contenedor">
        <div class="div-img hidden" >
            <img class="img" src="../../assets/logoDefinitivo3.png">
        </div>
        <h1 align="center">Regístrate gratis</h1>
        <form class="example-form">
          <mat-form-field class="example-full-width">
              <mat-label>Correo electrónico</mat-label>
              <input matInput [(ngModel)]="usuario.correo" placeholder="mail@example.com" name="email" type="text" class="form-control">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="usuario.nombre" placeholder="" name="nombre" type="text" class="form-control">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Apellidos</mat-label>
              <input matInput [(ngModel)]="usuario.apellidos" placeholder="" name="apellidos" type="text" class="form-control">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput [(ngModel)]="usuario.username" placeholder="" name="user" type="text" class="form-control">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput [(ngModel)]="usuario.contrasenya" placeholder="" name="password" type="password" class="form-control">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Repetir contraseña</mat-label>
              <input matInput placeholder="" type="password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>País</mat-label>
              <input matInput [(ngModel)]="usuario.pais" placeholder="" name="pais" type="text" class="form-control">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)=registrarUsuario()>Registrarse</button>
          <div class="container2">
              <div class="iniciar">
                  <button mat-raised-button color="primary" (click)=registrarUsuario()>Registrarse</button>
              </div>
          </div>
        </form>
        <div>
            <p>
                Hola
                {{usuario.username}}
                {{usuario.correo}}
            </p>
        </div>
        <a routerLink="/registroVip">¿Eres un creador o sello discográfico?</a>
    </div>
  </div>