<div class="fondo">
  <div class="contenedor">
      <div class="div-img hidden" >
          <img class="img" src="../../assets/logoDefinitivo3.png">
      </div>
      <h1 align="center">Regístrate gratis</h1>
      <form class="example-form">
          <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Pepito">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="pepito@cojonesgordos.com">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="pizzaConPiña">
          </mat-form-field>
      </form>
      <div class="container2">
          <div class="iniciar">
              <button mat-raised-button color="primary" routerLink="inicio">Registrarse</button>
          </div>
      </div>
      <a routerLink="/registroVip">¿Eres un creador o sello discográfico?</a>
  </div>
</div>
