<mat-card *ngIf="modoVisualizacion=='albumes'">
  <mat-card-title>Álbumes</mat-card-title>
  <mat-card-subtitle>O puedes empezar con estos álbumes</mat-card-subtitle>
  <mat-card *ngFor="let album of albumesBD" style="margin-top:10px;" class="card">
    <mat-card-header>
      <mat-card-title>{{album.nombre}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/PlaylistDefecto.jpeg" class="imagen" >
    <mat-card-content class="descripcion">
      <p>
        {{album.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions class="acciones">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="eliminarPlaylist(album.id)">delete</mat-icon>
      </button>
      <button mat-button (click)="listarCancionesAlbum(album)">ESCUCHAR</button>
    </mat-card-actions>
  </mat-card>
</mat-card>

<div *ngIf="modoVisualizacion=='misAlbumesArtista'">
  <mat-card *ngFor="let album of albumesBD" style="margin-top:10px;" class="card">
    <mat-card-header>
      <mat-card-title>{{album.nombre}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/PlaylistDefecto.jpeg" class="imagen" >
    <mat-card-content class="descripcion">
      <p>
        {{album.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions class="acciones">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="eliminarPlaylist(album.id)">delete</mat-icon>
      </button>
      <button mat-button (click)="listarCancionesAlbum(album)">ESCUCHAR</button>
    </mat-card-actions>
  </mat-card>
</div>
