.imagen{
    background: cover;
    max-height: 150px;
}

.acciones{
   bottom: 10px;
}

.menuTresPuntos{
    right: 10px;
    position: absolute;
}

.card{
    max-height: 400px;
    max-width: 200px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

.descripcion{
    min-height: 20px;
}