
.imagen{
    background: cover;
}

.acciones{
   bottom: 10px;
    
}

.menuTresPuntos{
    right: 10px;
    position: absolute;
}


.card{
    max-height: 400px;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;

}

.descripcion{
    min-height: 20px;
}