<mat-card>
    <mat-card-title class="cabecera">Playlists de {{getNombreUsuario()}}
      <button mat-raised-button class = "crear" (click)="openDialog()">Crear una playlist</button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card *ngFor="let playlist of playlistsBD" style="margin-top:10px;" class="card">
      <mat-card-header>
        <mat-card-title>{{playlist.nombre}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/PlaylistDefecto.jpeg" class="imagen" >
      <mat-card-content class="descripcion">
        <p>
          {{playlist.descripcion}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="eliminarPlaylist(playlist.id)">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card class="fondo"></mat-card>


    