<mat-card>
    <mat-card-title class="cabecera">Playlists de {{getNombreUsuario()}}
      <button mat-raised-button class = "crear" (click)="openDialog()">Crear una playlist</button>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card class="playlists">
        <mat-card-header>
          <mat-card-title>playlist1</mat-card-title>
          <mat-card-subtitle>***** seguidores</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/playlist1.PNG" alt="DJ Torres & Like Party Vol.3">
        <mat-card-actions>
          <button mat-button>ESCUCHAR</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="playlists">
      <mat-card-header>
        <mat-card-title>playlist2</mat-card-title>
        <mat-card-subtitle>***** seguidores</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/playlist1.PNG" alt="DJ Torres & Like Party Vol.3">
      <mat-card-actions>
        <button mat-button>ESCUCHAR</button>
      </mat-card-actions>
  </mat-card>

</mat-card>
  <mat-divider></mat-divider>

  {{obtenerPlaylists()}}
