<h2 mat-dialog-title>Crear PlayList</h2>
<div mat-dialog-content class="mat-typography">
  <form class="form">
    <mat-form-field class="formEstandar" appearance="standard">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="playlist.nombre" placeholder="Escriba el título" name="nombre" type="text">
      <mat-hint></mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-content>
  <form>
    <mat-form-field class="formEstandar" appearance="standard">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="playlist.descripcion" placeholder="Añada una descripción" name="descripcion" type="text">
    <mat-hint></mat-hint>
    </mat-form-field>
  </form>
</div>
<div class="contenedor">
  <div class="contenedor_formulario">
    <p class="is-size-1">Sube una imagen para tu playlist</p>
    <br/>
    <p class="download" *ngIf="finalizado">Tu imagen está lista</p>
    <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
      <div class="file has-name is-boxed">
        <label class="file-label">
          <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
          <span class="file-cta">
            <span class="file-label">
            </span>
          </span>
          <span class="file-name">
          </span>
        </label>
      </div>
      <br/>
      <hr>
      <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
      <button mat-raised-button class="boton" [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}" [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)">Subir archivo</button>
    </form>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="crearPlaylist()">Crear</button>
</mat-dialog-actions>