<mat-card>
    <mat-card-title>Usuarios</mat-card-title>
      <mat-card-subtitle>Lista de usuarios que coinciden con la búsqueda</mat-card-subtitle>
      <div class="cancion">
        <mat-list>
          <mat-action-list *ngFor="let usuario of usuarios; let indice=index">
            <button *ngIf="esAmigo[indice]" mat-icon-button color="warn" (click)="actualizarUsuario(indice)">
              <mat-icon>person_add</mat-icon>
            </button>
            <button *ngIf="!esAmigo[indice]" mat-icon-button color="black" (click)="actualizarUsuario(indice)">
              <mat-icon>person_add</mat-icon>
            </button>
            <div class="favorito">
              <button mat-list-item>
                {{usuario.nombre}}
              </button>
            </div>
          </mat-action-list>
        </mat-list>
    </div>
</mat-card>