<mat-card>
    <mat-card-title *ngIf="modoVisualizacion=='buscar'">Usuarios</mat-card-title>
    <mat-card-title *ngIf="modoVisualizacion=='amigos'">Mis amigos</mat-card-title>
      <mat-card-subtitle *ngIf="modoVisualizacion=='buscar'">Lista de usuarios que coinciden con la búsqueda</mat-card-subtitle>
      <mat-card-subtitle *ngIf="modoVisualizacion=='amigos'">Lista de usuarios que sigues</mat-card-subtitle>
      <div class="cancion">
        <mat-list>
          <mat-action-list *ngFor="let usuario of usuarios; let indice=index">
            <button *ngIf="esAmigo[indice]" mat-icon-button color="warn" (click)="dejarDeSeguirUsuario(indice,usuario.correo)">
              <mat-icon>group</mat-icon>
            </button>
            <button *ngIf="!esAmigo[indice]" mat-icon-button color="black" (click)="seguirUsuario(indice,usuario.correo)">
              <mat-icon>person_add</mat-icon>
            </button>
            <div class="favorito">
              <button mat-list-item>
                {{usuario.nombre}} {{usuario.apellidos}}
              </button>
            </div>
          </mat-action-list>
        </mat-list>
    </div>
</mat-card>