<div class="contenedor">
    <div class="contenedor_formulario">
      <h1 class="is-size-1">Sube tu música a UpBeat</h1>
      <br/>
      <form>
        <input class="input" type="text" [(ngModel)]="nombre" placeholder="Titulo" name="nombre">
      </form>
      <br/>
      <p class="download" *ngIf="finalizado">Tu música está lista: <a (click)=play()>Reproducir</a></p>
      <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
        <div class="file has-name is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
            <span class="file-cta">
              <span class="file-label">
                Elegir un archivo…
              </span>
            </span>
            <span class="file-name">
              {{ mensajeArchivo }}
            </span>
          </label>
        </div>
        <br/>
        <form>
          <div class="control">
            <div class="select">
              <select name="idAlbumSeleccionado" [(ngModel)]="idAlbumSeleccionado">
                <option>Selecciona el álbum</option>
                <option *ngFor="let album of albumesBD">
                  {{album.nombre}}
                </option>
              </select>
            </div>
          </div>
        </form>
        <hr>
        <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
        <button class="boton" [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}" [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)">Subir archivo</button>
      </form>
    </div>
</div>