.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  
    .contenedor-formulario {
      width: 400px;
    }

    .boton{
      background: #00bcd4;
      height: 40px;
    }

    .boton:hover{
      background: #1081ff;
    }

    .input{
      height: 10px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  
    .download {
      background: #1081ff;
      color: #FFFFFF;
      padding: 10px 20px;
      margin-bottom: 20px;
      a {
        text-decoration: underline;
        color: #FFFFFF;
      }
    }
  }
