<mat-card>
  <mat-card-title class="cabecera">Playlists</mat-card-title>
  <mat-card-subtitle>Puedes empezar por estas playlists creadas por otros usuarios</mat-card-subtitle>
  <div class="cdk-virtual-scroll-data-source-example">
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
      <mat-card *cdkVirtualFor="let playlist of allPlaylistsBD" class="cardScroll">
        <mat-card-header>
          <mat-card-title>{{playlist.nombre}}</mat-card-title>
          <mat-card-subtitle>Autor</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/PlaylistDefecto.jpeg" class="imagen" >
        <mat-card-content class="descripcion">
          <p>
            {{playlist.descripcion}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>favorite</mat-icon>
          </button>
         </mat-card-actions>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div>
  </mat-card>
  <mat-divider></mat-divider>