.cabecera {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.card{
    max-height: 300px;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;

}

.descripcion{
    min-height: 20px;
}

.imagen{
    background-size: cover;
}

.fondo{
    margin-bottom: 120px;
    margin-top: 20px;
}

.cdk-virtual-scroll-data-source-example .example-viewport {
    min-height: 400px;
    min-width: 200px;
  }
  
  .cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
    display: inline-flex;
    flex-direction: row;
  }
  
  .cdk-virtual-scroll-data-source-example .example-item {
    width: 100px;
    height: 100%;
  }

  .cardScroll{
    max-height: 300px;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    display:inline-block;
}